<h1>Artículos</h1>
<ul>
    <repeat group="{{ @pagination['subset'] }}" value="{{ @article }}">
        <li>
            <a href="/articulo/{{ @article['slug'] }}">{{ @article['title'] }}</a>
            <span>{{ @article['article_date'] }}</span>
        </li>
    </repeat>
</ul>

<check if="{{ @pagination['pos'] > 0 }}">
    <true><a href="?page={{ @pagination['pos'] }}">&laquo; Anterior</a></true>
</check>
<check if="{{ @pagination['pos'] + 1 < @pagination['count'] }}">
    <true><a href="?page={{ @pagination['pos'] + 2 }}">Siguiente &raquo;</a></true>
</check>
